<h1>Import roster</h1>
<div class="authorizer-form">
  <%= form_tag(teams_path, method: :post) do %>
    <div>
      <label>Roster URL</label>
      <%= text_field_tag :roster_url %>
    </div>
    <%= submit_tag 'Submit' %>
  <% end %>
</div>
