/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'font-awesome-sprockets';
@import 'font-awesome';

.authorizer-form {
  padding-top: 20px;
}

h1,
h2,
h3,
h4 {
  color: #dfdfde;
}

a {
  color: #eb8c00;
  text-decoration: none;
}

html {
  background-color: #005b96;
}

body {
  width: 1000px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 25px;
  font-family: Helvetica, sans-serif;
}

.benched {
  background-color: #d2d4dc;
}

.circle {
  border-radius: 50%;
}

.player {
  padding-bottom: 10px;

  * {
    vertical-align: middle;
  }

  img {
    margin-right: 10px;
  }
}

ul {
  list-style-type: none;
}

.team-header {
  background-color: #24a318;
  color: white;
  padding: 10px;
  border-radius: 5px 0;

  a {
    color: #eedc93;
  }
}

.team {
  background-color: white;
  color: #200a15;
  padding: 0;
  margin-top: 0;

  li {
    padding: 10px;
    border-bottom: 1px #afafaf solid;

    &:last-child {
      border: 0;
    }
  }
}

form {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.button {
  border: 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;

}

.primary-button {
  color: white;
  background-color: #fe5757;
}

.large-icon {
  height: 100px;
  width: 100px;
  background-color: gray;
}

.small-icon {
  height: 45px;
  width: 45px;
  background-color: gray;
}

.team-name-header {
  text-align: center;
  margin-bottom: 25px;

  h1 {
    margin: 0;
  }
}
