/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bourbon";
@import "neat";

$medium: new-breakpoint(max-width 1020px 8);
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);

.container {
  @include outer-container;
}

.input-form {
  padding-top: 20px;
}

input[type="text"] {
  display: block;
  width: 250px;
  height: 25px;
  margin-bottom: 15px;
  font-size: 15px;
}

label {
  display: block;
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4 {
  color: #dfdfde;
}

a {
  color: #eb8c00;
  text-decoration: none;
}

header {
  background-color: #004878;
}

.nav-links {
  padding: 10px 0;

  a {
    padding-right: 10px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.home-link {
  color: #fded8f;
}

body {
  color: #555555;
  font-family: Helvetica, sans-serif;
  margin: 0;
  margin-bottom: 50px;
  background-color: #005b96;
}

.content {
  max-width: 1000px;
  margin: auto;

  @include media($medium) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.benched {
  background-color: #d2d4dc;
}

.circle {
  border-radius: 50%;
}

.player {
  padding-bottom: 10px;

  * {
    vertical-align: middle;
  }

  img {
    margin-right: 10px;
  }
}

ul {
  list-style-type: none;
}

.team-header {
  background-color: #24a318;
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.team {
  background-color: white;
  padding: 0;
  margin-top: 0;
  border-radius: 0 0 5px 5px;

  li {
    padding: 10px;
    border-bottom: 1px #afafaf solid;

    &.ally {
      background-color: #cce5ff;
    }

    &.opponent {
      background-color: #fec2c2;
    }

    &:last-child {
      border: 0;
      border-radius: 0 0 5px 5px;
    }
  }
}

form {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.button {
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
}

.primary-button {
  background-color: #fe5757;
  padding: 10px;
  &:hover {
    background-color: #cb2424;
  }
}

.secondary-button {
  background-color: #00aedb;
  padding: 10px;
  &:hover {
    background-color: #008baf;
  }
}

.large-icon {
  height: 75px;
  width: 75px;
  background-color: gray;
}

.small-icon {
  height: 45px;
  width: 45px;
  background-color: gray;
}

.team-name-header {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;

  h1 {
    margin: 0;
  }

  .button {
    margin-top: 10px;
  }

  @include media($tablet) {
    text-align: left;

    div, img {
      vertical-align: middle;
      display: inline-block;
    }

    div {
      padding-left: 5px;
    }

    .button {
      margin-top: 5px;
    }
  }
}

.header-link {
  padding-left: 5px;
  color: #eedc93;
}

.matchup-team {
  @include span-columns(6);

  .header-link {
    @include media($tablet) {
      display: block;
      padding-left: 0;
    }
  }
}
