/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.authorizer-form {
  padding-top: 20px;
}

h1,
h2,
h3,
h4 {
  color: #eedc93;
}

a {
  color: #7bc774;
  text-decoration: none;
}

html {
  background-color: #004444;
}

body {
  width: 1000px;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 50px;
  font-family: Helvetica, sans-serif;
}

.benched {
  color: gray;
}

.circle {
  border-radius: 50%;
}

.player {
  padding-bottom: 10px;

  * {
    vertical-align: middle;
  }

  img {
    margin-right: 10px;
    height: 45px;
    width: 45px;
    background-color: gray;
  }
}

ul {
  list-style-type: none;
}

.team-header {
  background-color: #24a318;
  color: white;
  padding: 10px;

  a {
    color: #eedc93;
  }
}

.team {
  background-color: white;
  color: #200a15;
  padding: 0;
  margin-top: 0;

  li {
    padding: 10px;
    border-bottom: 1px #c7c596 solid;

    &:last-child {
      border: 0;
    }
  }
}
