<h1>Authorize</h1>
<%= link_to 'Click here to authorize', @url, target: 'blank' %>

<div class="input-form">
  <%= form_tag(authorizations_path, method: :post) do %>
    <div>
      <label>Verifier Code</label>
      <%= text_field_tag :verifier %>
    </div>
    <%= submit_tag 'Authorize', class: 'button primary-button' %>
  <% end %>
</div>
